In [1]:
import pandas as pd

In [7]:
df=pd.DataFrame([1,2,3,4,5,6,7,8],['sa','hf','sfg','ter','iy','fsag','hgf','iy'])
df

      0
sa    1
hf    2
sfg   3
ter   4
iy    5
fsag  6
hgf   7
iy    8

In [8]:
df.sort()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

      0
fsag  6
hf    2
hgf   7
iy    5
iy    8
sa    1
sfg   3
ter   4

In [9]:
df.loc['iy']

    0
iy  5
iy  8

In [10]:
data=pd.read_csv('http://ckan.lancaster.ac.uk:8080/dataset/f40f3fbc-08b3-465e-ba20-d7ea3bb2e0f4/resource/d61d8c2d-f3ce-422f-a477-f38a10157de3/download/synetica-dec-2016.csv')

In [21]:
data.set_index(['device_id','name','units','timestamp'])

                                                                                            reading
device_id                              name                   units timestamp
{59D30588-2758-4967-B6EB-2AB38C0E773C} Meter 1                kWh   2016-12-01 00:00:00    0.000000
                                                                    2016-12-01 00:30:00    0.000000
                                                                    2016-12-01 01:00:00    0.000000
                                                                    2016-12-01 01:30:00    0.000000
                                                                    2016-12-01 02:00:00    0.000000
                                                                    2016-12-01 02:30:00    0.000000
                                                                    2016-12-01 03:00:00    0.000000
                                                                    2016-12-01 03:30:00    0.000000
                                                                    2016-12-01 04:00:00    0.000000
                                                                    2016-12-01 04:30:00    0.000000
                                                                    2016-12-01 05:00:00    0.000000
                                                                    2016-12-01 05:30:00    0.000000
                                                                    2016-12-01 06:00:00    0.000000
                                                                    2016-12-01 06:30:00    0.000000
                                                                    2016-12-01 07:00:00    0.000000
                                                                    2016-12-01 07:30:00    0.000000
                                                                    2016-12-01 08:00:00    0.000000
                                                                    2016-12-01 08:30:00    0.000000
                                                                    2016-12-01 09:00:00    0.000000
                                                                    2016-12-01 09:30:00    0.000000
                                                                    2016-12-01 10:00:00    0.000000
                                                                    2016-12-01 10:30:00    0.000000
                                                                    2016-12-01 11:00:00    0.000000
                                                                    2016-12-01 11:30:00    0.000000
                                                                    2016-12-01 12:00:00    0.000000
                                                                    2016-12-01 12:30:00    0.000000
                                                                    2016-12-01 13:00:00    0.000000
                                                                    2016-12-01 13:30:00    0.000000
                                                                    2016-12-01 14:00:00    0.000000
                                                                    2016-12-01 14:30:00    0.000000
...                                                                                             ...
{17B914B6-51C2-47DC-8F04-36CA4C41206D} SubwayRetailUnitVolts1 V     2016-12-21 09:00:00  234.438828
                                                                    2016-12-21 09:30:00  234.605148
                                                                    2016-12-21 10:00:00  235.490891
                                                                    2016-12-21 10:30:00  236.004440
                                                                    2016-12-21 11:00:00  235.321167
                                                                    2016-12-21 11:30:00  234.888962
                                                                    2016-12-21 12:00:00  235.622787
                                                                    2016-12-21 12:30:00  235.183365
                                                                    2016-12-21 13:00:00  236.117401
                                                                    2016-12-21 13:30:00  235.560410
                                                                    2016-12-21 14:00:00  237.026871
                                                                    2016-12-21 14:30:00  237.447006
                                                                    2016-12-21 15:00:00  235.673080
                                                                    2016-12-21 15:30:00  236.047104
                                                                    2016-12-21 16:00:00  235.630295
                                                                    2016-12-21 16:30:00  233.985214
                                                                    2016-12-21 17:00:00  237.451584
                                                                    2016-12-21 17:30:00  237.746124
                                                                    2016-12-21 18:00:00  239.352402
                                                                    2016-12-21 18:30:00  239.402847
                                                                    2016-12-21 19:00:00  240.315674
                                                                    2016-12-21 19:30:00  239.943909
                                                                    2016-12-21 20:00:00  240.587585
                                                                    2016-12-21 20:30:00  237.814240
                                                                    2016-12-21 21:00:00  238.224319
                                                                    2016-12-21 21:30:00  238.232803
                                                                    2016-12-21 22:00:00  239.680008
                                                                    2016-12-21 22:30:00  239.767929
                                                                    2016-12-21 23:00:00  241.277756
                                                                    2016-12-21 23:30:00  240.602036

[6568 rows x 1 columns]

In [34]:
df=pd.read_csv('http://ckan.lancaster.ac.uk:8080/dataset/ba5ba67a-d05d-4311-a35a-80b0d869c673/resource/5e689127-e4ce-47df-a90a-8208bd6e7bdd/download/ems-jul-2016.csv')

In [35]:
df=df.set_index('timestamp')

In [36]:
print min(df.index)
print max(df.index)

2016-07-01 00:00:00
2016-07-30 22:00:00

In [37]:
df=df.sort()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

In [38]:
df.tail(10)

                     id  metadata_id  consumption  meter_reading
timestamp
2016-07-30 22:00:00  51          317            0         122157
2016-07-30 22:00:00  51          318            0          78412
2016-07-30 22:00:00  58          179           88       13506644
2016-07-30 22:00:00  58           69            0         208700
2016-07-30 22:00:00  51          153            0        2795495
2016-07-30 22:00:00  51          152            0          42996
2016-07-30 22:00:00  58           68            0         604193
2016-07-30 22:00:00  51          314            0        6476176
2016-07-30 22:00:00  51          315           14         675347
2016-07-30 22:00:00  51          154            0         195941

In [43]:
de=pd.read_json('a.json')

In [45]:
de=de.set_index('timestamp')

In [46]:
de=de.sort()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

In [47]:
print min(de.index)
print max(de.index)

2017-02-01 00:00:00
2017-02-28 23:30:00

In [22]:
q='Meter 1'
pd.read_json('http://ckan.lancaster.ac.uk:8080/api/action/datastore_search?resource_id=d61d8c2d-f3ce-422f-a477-f38a10157de3&q='+q)

HTTPError: HTTP Error 400: Bad Request